* {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #1e1e1e;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #373737
}

.scroll-margin {
  scroll-margin-top: 80px;
}


/* -------------------------------------------------------------- */

.fonts-ubuntu-light {
  font-family: "Ubuntu", serif;
  font-weight: 300;
  font-style: normal;
}

.fonts-ubuntu-regular {
  font-family: "Ubuntu", serif;
  font-weight: 400;
  font-style: normal;
}

.fonts-ubuntu-medium {
  font-family: "Ubuntu", serif;
  font-weight: 500;
  font-style: normal;
}

.fonts-ubuntu-bold {
  font-family: "Ubuntu", serif;
  font-weight: 700;
  font-style: normal;
}

.fonts-ubuntu-light-italic {
  font-family: "Ubuntu", serif;
  font-weight: 300;
  font-style: italic;
}

.fonts-ubuntu-regular-italic {
  font-family: "Ubuntu", serif;
  font-weight: 400;
  font-style: italic;
}

.fonts-ubuntu-medium-italic {
  font-family: "Ubuntu", serif;
  font-weight: 500;
  font-style: italic;
}

.fonts-ubuntu-bold-italic {
  font-family: "Ubuntu", serif;
  font-weight: 700;
  font-style: italic;
}

.fonts-rubik-wet-paint-regular {
  font-family: "Rubik Wet Paint", serif;
  font-weight: 400;
  font-style: normal;
}

.fonts-rubik-500 {
  font-family: "Rubik", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.fonts-roboto-mono-500 {
  font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.fonts-quicksand-500 {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.fonts-playwrite-gb-s-500 {
  font-family: "Playwrite GB S", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.fonts-oxanium-500 {
  font-family: "Oxanium", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.fonts-bebas-neue-regular {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
}

/* -------------------------------------------------------------- */